*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    background-color: rgb(153, 60, 23);
    width: 100vw;
    height: 115rem;
    margin-top: 0;
}

.instruciones{
    width:100%;
    height:100vh;
    margin-left: 4rem;
    margin-top: 4rem;    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 0.8rem;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:auto;
    margin-bottom: 0.8rem;

}

li{
    font-size: 1.5rem;
    margin: 0.9rem;
}

p{
    font-size: 1.5rem;
    margin: 0.9rem;
}

td{
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: #ffb938f1;
    border: solid;
    border-radius: 5px 5px 5px 5px;
}

select{
    width: 100%;
    height: 100%;
    background-color: #40f367;
    background-image: url("img/imagen1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:black;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px 5px 5px 5px;
    
}
