* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
main {
    height: 60vh;
    background: rgb(106,12,94);
    background: linear-gradient(150deg, rgba(106,12,94,1) 0%, rgba(28,124,195,1) 47%, rgba(0,255,119,1) 100%);
}
.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 200px;
    min-width: 320px;
    /* background: rgb(106,12,94);
    background: linear-gradient(150deg, rgba(106,12,94,1) 0%, rgba(28,124,195,1) 47%, rgba(0,255,119,1) 100%); */
}
.img-container {
    width: 100%;
    height: 150px;
}
.img-container img {
   width: 200px;
   align-self: center;
}
.text-container {
    width: 50%;
    padding: 12px;
}
.text-container h1 {
    font-size: 3.0rem;
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
}
.text-container p {
    padding-top: 8px;
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
}
.middle-section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 120px;
    margin: 50px 0 50px 0;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #FFFFFF;
}
.container-buttons {
    /* position: absolute;
    left: calc(50% - 115px);
    top: 270px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}
.container-buttons .btn1, .btn2 {
    min-width: 250px;
    padding: 40px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #FAF8F7;
    color: black;
    border-radius: 5%;
    /* box-shadow: 0px 4px 8px rgba(89, 73 , 30, 0.16); */
    /* box-shadow: #5e5df0 0 10px 20px -10px; */
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn1:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
}

.btn2:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
}

@media (max-width: 700px) {
    main {
        height: 900px;
        background: linear-gradient(0deg, rgba(93,20,157,1) 0%, rgba(17,56,161,1) 100%);
    }
    .header-container {
        display: flex;
        flex-direction: column;
        height: auto;
        min-width: 320px;
    }
    .img-container img {
        width: 150px;
    }
    .text-container {
        padding: 12px;
        margin: 0;
        text-align: center;
    }
    .container-buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 150px;
    }
    .container-buttons a {
        margin: 25px;
    }
}

